.header {
    line-height: 100px;
    border-bottom: 1px solid #ddd;

    .inner {
        display: flex;
        width: 1200px;
        margin: 0 auto;
        justify-content: space-between;

        h1 {
            font-size: 0;
        }

        .gnb>ul {
            display: flex;
            gap: 40px;

            a {
                display: block;
            }
        }
    }
}

.MainVisual {
    position: relative;


    .itm {
        height: 650px;
        min-width: 1200px;
    }

    .itm01 {
        background: url(../images/work011.jpg) no-repeat center center/cover;
    }

    .itm02 {
        background: url(../images/work022.jpg) no-repeat center center/cover;
    }

    .inner {
        position: relative;
        width: 1200px;
        height: 100%;
        margin: 0 auto;

        .tit {
            position: absolute;
            left: 0;
            top: 30%;
            color: #fff;
            text-shadow: 0 0 3px #000;

            h2 {
                font-size: 60px;
                font-weight: 700;
                margin: 0 0 15px 0;
            }

            p {
                font-size: 30px;
                font-weight: 500;
            }
        }
    }

    .num {
        position: absolute;
        bottom: 200px;
        color: #fff;
        width: 100%;

        em {
            display: block;
            width: 1200px;
            margin: 0 auto;
            font-size: 25px;
        }
    }

    .slick-dots {
        position: absolute;
        bottom: 100px;
        left: 50%;
        transform: translate(-50%, 0);

        li {
            display: inline-block;


            button {
                font-size: 0;
                border: none;
                background: #000;
                width: 100px;
                height: 10px;
                margin: 0 5px;
                border-radius: 5px;
                cursor: pointer;
            }


            &.slick-active {
                button {
                    background: tomato;
                }
            }
        }
    }

    .arrows {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 50px;

        button {
            background: none;
            border: none;
            color: #fff;
            text-shadow: 0 0 3px #000;
            cursor: pointer;
        }

        .left {
            transform: translate(-700px, 0);
        }

        .right {
            transform: translate(700px, 0);
        }
    }
}

.MainContent {
    padding: 100px 0;

    .inner {
        width: 1200px;
        margin: 0 auto;

        .title {
            text-align: center;
            margin: 0 0 40px 0;

            h2 {
                font-size: 30px;
                font-weight: 700;
                margin: 0 0 10px 0;
            }
        }

        .content {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;
        }
    }
}

.Footer {
    padding: 40px 0 60px 0;
    background: #444;
    color: #ddd;
    font-size: 14px;

    .inner {
        width: 1200px;
        margin: 0 auto;

        .FooterTop {
            display: flex;
            gap: 20px;
            justify-content: center;
            margin: 0 0 40px 0;

            @for $i from 1 to 6 {
                .itm0#{$i} {
                    a {
                        display: block;
                        padding: 2px 10px;
                    }

                    @if ($i==2) {
                        color: #fff;
                        font-weight: 700;
                    }

                    @else if ($i==3) {
                        font-weight: 300;
                    }


                }


            }


        }

        .FooterBottom {
            text-align: center;

            p {
                margin: 0 0 5px 0;
            }

            span {
                display: block;
                margin: 0 0 5px 0;
            }

            address {
                margin: 0 0 5px 0;
            }
        }
    }


}