.Wrap {}

.Header {
    line-height: 100px;
}

.Header .inner {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.Header h1 {
    height: 100px;
}

.Header h1 img {
    width: 100%;
    height: 100%;
}

.Header .gnb {}

.Header .gnb>ul {
    display: flex;
    gap: 20px;
}

.Header .gnb>ul>li {
    width: 100px;
    text-align: center;
}

.Header .gnb>ul>li>a {
    display: block;
}

.Header .h_icon {
    font-size: 20px;
}

.MainVisual {}